body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(216, 239, 243);
  padding: 10% 10%;
  width: 60;
}
h1 {
  color: white;
}
h1:hover {
  cursor: pointer;
  color: #5468c4;
}
.major {
  font-size: large;
  padding-left: 20%;
  padding-right: 20%;
  display: auto;
}
.shop {
  background-color: rgb(178, 188, 206);
  overflow: hidden;
  display: flex;
  text-align: right;
  opacity: 80%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  margin-left: auto;
  margin-right: auto;
}
#logo {
  width: 100px;
  height: 100px;
  scroll-padding-block: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
#logo:hover {
  cursor: pointer;
}
#kipawa {
  background-color: rgb(79, 143, 143);
}
#addsBtn {
  background-color: rgb(89, 238, 238);
}
#addsBtn:hover {
  background-color: rgb(171, 158, 230);
  cursor: pointer;
}

#clrBtn {
  background-color: rgb(89, 238, 238);
}
#clrBtn:hover {
  background-color: rgb(171, 158, 230);
  cursor: pointer;
}

#kipawa {
  background-color: rgb(165, 194, 245);
  font-family: Georgia, "Times New Roman", Times, serif;
}
.purchased {
  text-decoration: line-through;
  background-color: #606e9b;
}
.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid #5d7a8b;
}
.list-item button {
  margin-left: 10px;
}
